.container{
	
	min-height: 100%;
    max-width: 1200px;
    outline: none;
    background:#f9f9f9;
    color: #666;
     padding: 30px;
    box-shadow: 0 1px 0 white inset, 0 2px 4px rgba(0, 0, 0, 0.08);
}
.header{
	display: block;
    width: 100%;
    border-bottom: 2px solid #ebebe6;
    font-size: 18px;
    color: #232323;
    box-shadow: 0 2px 0 0 #FFF;
 
}
input{
  margin: 15px ;
 
}
*{
   margin: 0 auto; 

}
.col-sm-4,.col-sm-8{
    float: left;

}
.col-sm-4{
 margin-top: 25px;
}

.col-sm-8{
    margin-top: 16px;
}
.button{
  
    margin-top: 9px;
    height: 18px;
    width: 121px; 
    color: white;  
  
}
#password{
    background-color: red;
    
}

#login{
    background-color: blue;
   float: right;
   
}

#register{
    background-color: black;
   float:right;
}


